{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vuje.Com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZeddLabz">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "LiveStreamApp/css/base.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

{% block prescript %}
{% endblock %}
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Zedd Conference</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <!-- <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Something</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Anything</a></li> -->
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <!-- footer -->
    <!-- <footer class="container-fluid bg-4 text-center">
        <p>Designed & Made By <a href="https://www.zeddlabz.com">ZEDDLABZ</a></p>
    </footer> -->
    <!-- end footer -->

</body>
{% block postscript %}
{% endblock %}
</html>