{% extends 'LiveStreamApp/base.html' %}
{% load static %}

{% block prescript %}
    
    <script>
        var sess = '{{sess}}';
        var id = '{{id}}';
        var name = '{{name}}';
        var time = '{{time}}';
        var interval = '{{interval}}';
        var downDir = '{{dDir}}'       
        let messageSocket = new WebSocket('ws://' + window.location.host + '/ws/rooms/'+sess+'/'+"peer_"+id + "/msg");
        messageSocket.onclose = (e)=>{
            console.log("closed");
            alert("refresh page");
        }
        messageSocket.onopen = (e)=>{
            messageSocket.send(JSON.stringify({
                "hi" : 1
            }))
        }
        
        let signalSocket = new WebSocket('ws://' + window.location.host + '/ws/rooms/'+sess+'/'+"peer_"+id + "/signal");
        signalSocket.onclose = (e)=>{
            console.log("closed");
            alert("refresh page");
        }
        signalSocket.onopen = (e)=>{
            signalSocket.send(JSON.stringify({
                "hi" : 1
            }))
        }
        

    </script>
{% endblock %}


{% block content %}
{% endblock %}

{% block postscript %}
    <script src='{% static "LiveStreamApp/jss/peer.js"%}'></script>
{% endblock %}